.game-head {
  height: 70px;
  text-align: center;
  border-bottom: 1px solid #000;

  &-link {
    text-decoration: none;
    padding: 10px;
    border: 1px solid #0d6efd;
    margin: 0 10px;
  }

  &-link.active {
    border: 1px solid #c93c0d;
    color: #c93c0d;
  }
}

.jumbotron {
  text-align: center;
}

.btn-block {
  padding: 15%;
  font-size: xx-large;
}

.blank-space {
  height: 20px;
}

nav {
  padding: 20px 0 20px 0;
}
